<!DOCTYPE html>
<html lang="en-us" ng-app="mealplaND">

<head>
    <title>PlaND Today</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- load angular via CDN -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="app.js"></script>
</head>



<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Testing</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="Testing2.htm"><i class="fa fa-Page2"></i> Testing2</a></li>
            </ul>
        </div>
    </nav>


</header>

<body>

    <div ng-controller="mainController">

        <div class="container">
            <h1>PlaND today...</h1>
            <div class="col-md-12" ng-repeat="item in items track by $index">
                <div class="row">
                    <img ng-src=" {{ item.image }} " class="img-fluid" alt="Responsive image">
                    <h2>
                        {{ item.name }}
                    </h2>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <span style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="" aria-controls="collapseOne">
                                    More Info (card doesn't work correctly right now)
                                </span>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <h3>
                                            allergies:
                                            <div ng-repeat="allergy in item.allergies">
                                                {{ allergy }}
                                            </div>
                                        </h3>
                                        <h4>
                                            preference:
                                            <div ng-repeat="preference in item.preferences">
                                                {{ preference }}
                                            </div>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</body>





</html>
